

.card {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 0;
  

  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  -webkit-transition-property: left, top, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;
}

img.card{
	height:150%;
	width:150%;
	
	
}